<!-- Logo -->
<a href="<%= url_for(admin_dashboard_path) %>" class="logo">
  <!-- mini logo for sidebar mini 50x50 pixels -->
  <span class="logo-mini"><b>BB</b></span>
  <!-- logo for regular state and mobile devices -->
  <span class="logo-lg"><b>BlankBoard</b></span>
</a>

<!-- Header Navbar -->
<nav class="navbar navbar-static-top" role="navigation">

    <% if(@auth_check) %>
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <% end %>

  <!-- Navbar Right Menu -->
  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
      <% if(@auth_check) %>
        <!-- User Account Menu -->
        <li class="dropdown user user-menu">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="<%= @current_user.avatar %>" class="user-image">
            <span class="hidden-xs"><%= @current_user.name %></span>
          </a>

          <ul class="dropdown-menu">

            <li class="user-header">
              <!-- The user image in the menu -->
              <img src="<%= @current_user.avatar %>" class="img-circle" style="object-fit: cover;" alt="User Image">

              <!-- The user name -->
              <p><%= @current_user.name %></p>
            </li>

            <!-- Menu Body -->
            <li class="user-body">
            </li>

            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <%= link_to "My profile", admin_user_path(@current_user.id), class: "btn btn-primary btn-flat" %>
              </div>

              <div class="pull-right">
                <%= link_to "Logout", logout_path, class: "btn btn-danger btn-flat", method: :post %>
              </div>
            </li>
            <!-- /. menu footer-->

          </ul>

        </li>
        <!-- /. user account menu -->
      <% else %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="hidden-xs">Menu</span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <ul class="menu">
                <div class="col-sm-12 text-center text-nowrap">
                  <%= link_to "Login", login_path, class: "btn btn-success" %>
                  <%= link_to "Register", register_path, class: "btn btn-default" %>
                </div>
              </ul>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
  <!-- /. navbar right menu -->

</nav>
