<%= form_for @resource, url: {action: "create"}, html: {class: "form-horizontal"} do |f| %>


  <div class="form-group">
    <div class="col-sm-12 text-right">
      <%= f.submit "Save", :class => "btn btn-success" %>
      <%= f.button "Reset", type: :reset, :class => "btn btn-default" %>
    </div>
  </div>


  <div class="col-sm-8">

    <div class="form-group">
      <%= label_tag(:name, "Name", class: "col-sm-4 control-label") %>
      <div class="col-sm-8">
       <%= f.text_field :name, class: 'col-sm-12 control-form' %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag(:slug, "Slug", class: "col-sm-4 control-label") %>
      <div class="col-sm-8">
       <%= f.text_field :slug, class: 'col-sm-12 control-form' %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag(:description, "Description", class: "col-sm-4 control-label") %>
      <div class="col-sm-8">
       <%= f.text_area :description, class: 'col-sm-12 control-form' %>
      </div>
    </div>

  </div>

  <div class="col-sm-4 form-vertical">
    <div class="form-group">
      <%= f.select :status, options_for_select([['Active', 1], ['Inactive', 0]], f.object.status), {}, {:class => 'form-control chosen-select'} %>
    </div>

    <div class="form-group">
      <%= label_tag(:permissions, "Permissions", class: "col-sm-4 control-label") %>
      <%= f.collection_select :permissions, Permission.all, :id, :name, {},  {:class => 'form-control chosen-select', :multiple => 'multiple'} %>
    </div>
  </div>
<% end %>
