<%= form_for @resource, url: {action: "upload"}, html: {class: "form-horizontal"} do |f| %>

  <div class="form-group">
    <div class="col-sm-12 text-right">
      <%= f.submit "Save", :class => "btn btn-success" %>
      <%= f.button "Reset", type: :reset, :class => "btn btn-default" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag(:image, "Image", class: "col-sm-3 control-label") %>
    <div class="col-sm-9">
      <%= f.file_field :image %>
    </div>
  </div>

<% end %>
